@tailwind base;
@tailwind components;
@tailwind utilities;

.services div:last-of-type {
  margin-top: 270px;
}
.perspective {
  perspective: 1400px;
}
.default {
  display: hidden;
  background-color: rebeccapurple;
  all: revert;
}
@media screen and (max-width: 700px) {
  .services div:last-of-type {
    margin-top: 40px;
  }
}
